body {
  background-color: black;
  font-size: large;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

span {
  float: right;
  color: green;
}

table,
tbody,
td {
  border: 1px solid white;
  padding: 4px;
}
