body {
  background-color: black;
}

span {
  font-size: 60px;
  font-family: "Bleeding Pixels";
}

.btn {
  width: 100%;
  border-radius: 0 !important;
}

.bdiv {
  width: 60%;
  min-width: 300px;
}

@font-face {
  font-family: "Alpha Mutation";
  src: url("../static/Alpha Mutation.ttf");
}

@font-face {
  font-family: "Bleeding Pixels";
  src: url("../static/BleedingPixels.ttf");
}
