#gamebody {
  color: white;
  font-size: large;
  background-color: black;
  font-family: "Courier New", Courier, monospace;
}

#gamecontent {
  background-color: #282828;
}

#output {
  background-color: rgba(10, 10, 10, 0.5);
  margin-top: auto;
  overflow: hidden;
  position: relative;
  padding-left: 1%;
}

#cmd {
  background: transparent !important;
  border: 0;
  color: white;
  width: 90%;
  outline: none;
}
#savebutton {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
}

#helpbutton {
  position: absolute;
  top: 35px;
  right: 2px;
  z-index: 1;
}

#backbutton {
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;
}

#audiobutton {
  position: absolute;
  top: 35px;
  left: 2px;
  z-index: 1;
}

.modal {
  color: black;
}

@media only screen and (max-width: 700px) {
  #output {
    font-size: x-small;
  }
  #savebutton {
    position: absolute;
    top: unset;
    bottom: 2px;
    right: 2px;
    z-index: 1;
  }

  #helpbutton {
    position: absolute;
    top: unset;
    bottom: 35px;
    right: 2px;
    z-index: 1;
  }

  #backbutton {
    position: absolute;
    top: unset;
    bottom: 2px;
    left: 2px;
    z-index: 1;
  }

  #audiobutton {
    position: absolute;
    top: unset;
    bottom: 35px;
    left: 2px;
    z-index: 1;
    visibility: hidden;
  }

  #bgarea {
    height: 45vh !important;
  }
}
