<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>The Swamp - Game</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/swamp.css" />
    <link href="static/assets/favicon.png" rel="icon" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="static/scripts/game.js"></script>
    <style></style>
  </head>

  <body id="gamebody">
    <div class="container">
      <div id="gamecontent" class="row">
        <div id="savebutton">
          <button id="save" type="button" class="btn btn-light btn-sm">save</button>
        </div>
        <div id="backbutton">
          <button id="back" type="button" class="btn btn-light btn-sm">back</button>
        </div>
        <div id="helpbutton">
          <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#helpDialog">help</button>
        </div>
        <div class="square col">
          <div class="content">
            <div
              id="bgarea"
              class="row"
              style="
                height: 60vh;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url(static/assets/bg-aus-208.png);
              "
            >
              <div id="output">
                <span
                  >You are jolted awake by the feeling of unrest. How long were you asleep? In Front of you is a computer monitor, on but
                  displaying only a blue screen. All the other monitors are in the same state. You realize you’re in Austin 208, but there’s
                  something wrong. Not just with the computer’s, but with the very grounds of campus. The air is tainted, almost palatable
                  in its stench. The windows are almost blocked by overgrown vines and moss, and the sky has turned a permanent gray, the
                  sun nowhere in sight. It’s as if all of ECU campus had become a swamp. Humid, dark, and uninhabited. </span
                ><br />
              </div>
            </div>
            <div id="inputarea" class="row border-top border-alert">
              <span class="w-100">><input id="cmd" type="text" placeholder="enter a command..." /> </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="helpDialog" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">Game help</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h4>List of supported commands</h4>
              <ul>
                <li>go *location*</li>
                <li>get *item*</li>
                <li>use *object*</li>
                <li>talk *person*</li>
                <li>answer *choice*</li>
                <li>inventory</li>
                <li>leave</li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(back).on("click", function () {
        window.location.href = "/"
      })
      $(save).on("click", function () {
        window.alert("no save feature yet")
      })
    </script>
  </body>
</html>
