<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>The Swamp - Game</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/swamp.css" />
    <link href="../static/assets/favicon.png" rel="icon" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="../static/scripts/game.js"></script>
  </head>

  <body id="gamebody">
    <div id="loadHolder" hidden>{{loadName}}</div>
    <div class="container">
      <div id="gamecontent" class="row">
        <div id="savebutton">
          <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#saveDialog">save</button>
        </div>
        <div id="backbutton">
          <button id="back" type="button" class="btn btn-light btn-sm">back</button>
        </div>
        <div id="audiobutton">
          <button id="audio" type="button" class="btn btn-light btn-sm">sound</button>
        </div>
        <div id="helpbutton">
          <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#helpDialog">help</button>
        </div>
        <div class="square col">
          <div class="content">
            <div id="bgarea" class="row" style="height: 60vh; background-position: center; background-repeat: no-repeat">
              <div id="output"></div>
            </div>
            <div id="inputarea" class="row border-top border-alert">
              <span class="w-100">><input id="cmd" type="text" placeholder="enter a command..." /> </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="helpDialog" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">Game help</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h4>List of supported commands</h4>
              <table>
                <tbody>
                  <tr>
                    <td>go &emsp;<span>&ltlocation&gt</span></td>
                  </tr>
                  <tr>
                    <td>get &emsp;<span>&ltitem&gt</span></td>
                  </tr>
                  <tr>
                    <td>use &emsp;<span>&ltobject&gt</span></td>
                  </tr>
                  <tr>
                    <td>talk &emsp;<span>&ltperson&gt</span></td>
                  </tr>
                  <tr>
                    <td>answer &emsp;<span>&ltchoice&gt</span></td>
                  </tr>
                  <tr>
                    <td>inventory</td>
                  </tr>
                  <tr>
                    <td>leave</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="saveDialog" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">Save your progress</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="userNameInput">Username: </label>
                  <input type="text" class="form-control" id="userNameInput" />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary mt-2" id="saveSend">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
